name: CI/CD TEST

on:
  push:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run Test Environment
        run: |
          docker compose -f docker-compose.test.yml build
          docker compose -f docker-compose.test.yml run --rm backend-test

  build:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to GHCR
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} --password-stdin

      - name: Build and push backend
        run: |
          docker build -t ghcr.io/${{ secrets.GHCR_USERNAME }}/tunefederate-backend:latest ./backend
          docker push ghcr.io/${{ secrets.GHCR_USERNAME }}/tunefederate-backend:latest

      # - name: Build and push frontend
      #   run: |
      #     docker build -t ghcr.io/${{ secrets.GHCR_USERNAME }}/tunefederate-frontend:latest ./frontend
      #     docker push ghcr.io/${{ secrets.GHCR_USERNAME }}/tunefederate-frontend:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/azureuser/Saitynai
            docker compose pull
            docker compose up -d --remove-orphans
